<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Bootstrap core CSS -->
  <link href="./static/css/bootstrap.min.css" rel="stylesheet">
  <title>Buscar por Documento</title>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
          aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
        <a class="navbar-brand" href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Niza</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

          <li class="active"><a href="documento"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Buscar por Documento</a></li>
          <li><a href="fecha"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Buscar por Fecha</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Acerca de:</a></li>
          <li><a href="/"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contacto</a></li>

        </ul>


      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>
  <div class="container">
    <br/>
    <br/>
    <br/>
    <ol class="breadcrumb">
      <li><a href="./home">Niza</a></li>
      <li class="active">Busca por Documento</li>
    </ol>
  </div>

  <div class="container">
    <div class="panel panel-primary">

      {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}

      <div class="panel-heading">
        <h4>Busca por CI, RUC o Pasaporte</h4>
      </div>
      <div class="panel-body">
        <form action="documento" class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">Ingrese</span>
              <input type="text" name="documento" class="form-control" placeholder="CI, RUC o Pasaporte">
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
      </div>
    </div>
    <div class="panel panel-success">
      <div class="panel-heading">

        <h4>{{ nombre }} {{ documento }}</h4>

      </div>
      <div class="panel-body">


        <h5></h5>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Est.</th>
              <th>Pto.</th>
              <th>Número</th>
              <th>XML</th>
              <th>PDF</th>
            </tr>
          </thead>
          <tbody>
            {% for documento in ele_documentos %}
            <tr>
              <td>{{ documento.fecha_emision.strftime('%Y-%m-%d') }}</td>
              <td>{{ documento.establecimiento }}</td>
              <td>{{ documento.punto_emision }}</td>
              <td>{{ documento.secuencial }}</td>
              <td><a href="estado_comprobante.jsp?codigo={{ documento.clave_acceso }}"><span class="glyphicon glyphicon-download"></span></a></td>
              <td><a href="procesar_autorizacion.jsp?codigo="><span class="glyphicon glyphicon-download-alt"></span></a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="./static/js/bootstrap.min.js"></script>
</body>

</html>