<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Bootstrap core CSS -->
    <link href="./static/css/bootstrap.min.css" rel="stylesheet">
    <title>Niza</title>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                    aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    <a class="navbar-brand" href="home"><span class="glyphicon glyphicon-home" aria-hidden="true"></span> Niza</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                  <li><a href="documento"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Buscar por Documento</a></li>                  
                  <li><a href="fecha"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span> Buscar por Fecha</a></li>
                  <li><a href="/"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Acerca de:</a></li>
                  <li><a href="/"><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Contacto</a></li>
                </ul>


            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <br/>
        <br/>
        <br/>
    </div>

    <div class="container">
        {% for contribuyente in ele_contribuyentes %}
        <h3>{{ contribuyente.nombre_comercial }}</h3>
        {% endfor %}

        <div class="panel panel-primary">

            {%- for message in get_flashed_messages() %} {{ message }} {%- endfor %}

            <div class="panel-heading">Menú principal</div>
            <div class="panel-body">
                <a href="documento">Buscar por Documento</a>
            </div>
            <div class="panel-body">
                <a href="fecha">Buscar por Fecha</a>
            </div>


        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="./static/js/bootstrap.min.js"></script>
</body>

</html>