<!DOCTYPE html>
<html>
   <head>

       <title>Niza</title>
   </head>
   <!-- Bootstrap core CSS -->
   <link href="../static/css/bootstrap.min.css" rel="stylesheet">
   <body>
       <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Inicio</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        </div><!--/.navbar-collapse -->
      </div>
    </nav> 
    <div class="container">
      <h3>Niza</h3>
      
      {%- for message in get_flashed_messages() %}
         {{ message }}
      {%- endfor %}
	
      
      <table>
         <thead>
            <tr>
               <th>Documento</th>
               <th>Razón Social</th>
               <th>Nombre Comercial</th>
               <th>Dirección</th>
            </tr>
         </thead>
         
         <tbody>
            {% for contribuyente in ele_contribuyentes %}
               <tr>
                  <td>{{ contribuyente.documento }}</td>
                  <td>{{ contribuyente.razon_social }}</td>
                  <td>{{ contribuyente.nombre_comercial }}</td>
                  <td>{{ contribuyente.direccion }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      </div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
      <script src="../static/js/bootstrap.min.js"></script>
   </body>
</html>